/******************************************
/* ANIMATION
/*******************************************/

/* Nav Bar Animation */
     .header li a::after{
        content: "";
        position: absolute;
        background-color: rgb(146, 250, 220);
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        box-shadow: 0 0 10px rgb(146, 250, 220),
        0 0 20px rgb(146, 250, 220),
        0 0 40px rgb(146, 250, 220),
        0 0 80px rgb(146, 250, 220),
        0 0 160px rgb(146, 250, 220);
        transition: 0.2s;
        
   }
   
   .header li:nth-child(2) a::after{
   
        background-color: rgb(207, 250, 143);
        box-shadow: 0 0 10px rgb(207, 250, 143),
        0 0 20px rgb(207, 250, 143),
        0 0 40px rgb(207, 250, 143),
        0 0 80px rgb(207, 250, 143),
        0 0 160px rgb(207, 250, 143);    
   }
   
   .header li:nth-child(3) a::after{
        background-color: rgb(248, 246, 143);
        box-shadow: 0 0 10px rgb(248, 246, 143),
        0 0 20px rgb(248, 246, 143),
        0 0 40px rgb(248, 246, 143),
        0 0 80px rgb(248, 246, 143),
        0 0 160px rgb(248, 246, 143);   
   }
   
   .header a:hover:after{
        width: 100%;
   }
   
/* Logo Animation */
   #logo path:nth-child(1){
        stroke-dasharray: 351.6800231933594;
        stroke-dashoffset: 351.6800231933594;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards, fill 0.7s linear forwards 0.2s;
   }
   #logo path:nth-child(2){
        stroke-dasharray: 452.58587646484375;
        stroke-dashoffset: 452.58587646484375;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 0.1s, fill 0.7s linear forwards 0.4s;
   }
   #logo path:nth-child(3){
        stroke-dasharray: 508.8011169433594;
        stroke-dashoffset: 508.8011169433594;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 0.2s, fill 0.7s linear forwards 0.6s;
   }
   #logo path:nth-child(4){
        stroke-dasharray: 624.0584716796875;
        stroke-dashoffset: 624.0584716796875;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 0.3s, fill 0.7s linear forwards 0.8s;
   }
   #logo path:nth-child(5){
        stroke-dasharray: 475.95025634765625;
        stroke-dashoffset: 475.95025634765625;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 0.4s, fill 0.7s linear forwards 1.0s;
   }
   #logo path:nth-child(6){
        stroke-dasharray: 335.4087829589844;
        stroke-dashoffset: 335.4087829589844;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 0.5s, fill 0.7s linear forwards 1.2s;
   }
   #logo path:nth-child(7){
        stroke-dasharray: 259.47467041015625;
        stroke-dashoffset: 259.47467041015625;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 0.6s, fill 0.7s linear forwards 1.4s;
   }
   #logo path:nth-child(8){
        stroke-dasharray: 475.95025634765625;
        stroke-dashoffset: 475.95025634765625;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 0.7s, fill 0.7s linear forwards 1.6s;
   }
   #logo path:nth-child(9){
        stroke-dasharray: 529.372314453125;
        stroke-dashoffset: 529.372314453125;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 0.8s, fill 0.7s linear forwards 1.8s;
   }
   #logo path:nth-child(10){
        stroke-dasharray: 537.004638671875;
        stroke-dashoffset: 537.004638671875;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 0.9s, fill 0.7s linear forwards 2.0s;
   }
   #logo path:nth-child(11){
        stroke-dasharray: 259.47467041015625;
        stroke-dashoffset: 259.47467041015625;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 1.0s, fill 0.7s linear forwards 2.2s;
   }
   #logo path:nth-child(12){
        stroke-dasharray: 345.45867919921875;
        stroke-dashoffset: 345.45867919921875;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 1.1s, fill 0.7s linear forwards 2.4s;
   }
   #logo path:nth-child(13){
        stroke-dasharray: 378.7026672363281;
        stroke-dashoffset: 378.7026672363281;
        fill: url(#paint0_linear_16_59);
        fill-opacity: 0;
        animation: logo-intro 1.4s ease-in-out forwards 1.2s, fill 0.7s linear forwards 2.8s;
   }
   
   @keyframes logo-intro{
        to{
             stroke-dashoffset: 0%;
        }
   }
   
   @keyframes fill{
        from {
             fill-opacity: 0;
        }
        to{
             fill-opacity: 1; 
        }
   }
   
/* Button Animation */
   .button a:hover{
        transition-delay: 0.2s;
        color: rgb(36, 34, 34);
        box-shadow: 0 0 10px rgb(210, 45, 183),
        0 0 20px rgb(210, 45, 183),
        0 0 40px rgb(210, 45, 183),
        0 0 80px rgb(210, 45, 183),
        0 0 160px rgb(210, 45, 183);
   }
   .button a span{
        position: relative;
        z-index: 100;
   }
   .button a::before{
        content: '';
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: rgb(210, 45, 183);
        box-shadow: 5px -8px 0 rgb(210, 45, 183);
        box-shadow: 5px 8px 0 rgb(210, 45, 183);
        transition: width 0.2s, left 0.2s, height 0.2s, box-shadow 0.2s;
        transition-delay: 0.5s, 0.2s, 0s, 0s;
   }
   
   .button a:hover::before{
        width: 60%;
        height: 100%;
        left: -2px;
        box-shadow: 5px 0px 0 rgb(210, 45, 183);
        box-shadow: 5px 0px 0 rgb(210, 45, 183);
        transition-delay: 0s, 0s, 0.2s, 0.2s;
   }
   
   .button a::after{
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: rgb(210, 45, 183);
        box-shadow: -5px -8px 0 rgb(210, 45, 183);
        box-shadow: -5px 8px 0 rgb(210, 45, 183);
        transition: width 0.2s, left 0.2s, height 0.2s, box-shadow 0.2s;
        transition-delay: 0.5s, 0.2s, 0s, 0s;
   }
   
   .button a:hover::after{
        width: 60%;
        height: 100%;
        right: -2px;
        box-shadow: -5px 0px 0 rgb(210, 45, 183);
        box-shadow: -5px 0px 0 rgb(210, 45, 183);
        transition-delay: 0s, 0s, 0.2s, 0.5s;
   }

/* Social Media Animation */
     .social li a:hover{
          transform: translateX(0.2rem) translateY(-0.2rem);
     }

     .social li a::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 2.5rem;
          height: 100%;
          background: rgba(255, 255, 255, 0.5);
          transform: skewX(45deg) translateX(7rem);
          transition: 0.5s;
     }

     .social li a:hover:before{
          transform: skewX(45deg) translateX(-5rem);
     }